body {
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}
.time {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.button {
    padding: 10px 70px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}
.button:active {
    opacity: 0.7;
}
.button--red {
    background-color: red;
}
.button--blue {
    background-color: rgb(75, 44, 248);
}
.button--green {
    background-color: green;
}

.laps {
    position: absolute;
    text-align: center;
    list-style-type: none;
}
.button--white {
    
    color: #222;
    background-color: #fff;   
}
.hidden {
    visibility: hidden;
}